
%main.single-main
    %section.l-single-container.buy-item-container
      #sell-container
        .data-reactroot
          .sell-container-inner
            %h2.l-single-head 商品の情報を入力
            %form#new_item.new_item{"accept-charset" => "UTF-8", :action => "/items", :method => "post"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}/
              %input{:name => "authenticity_token", :type => "hidden", :value => "M3gFF85ndoGHuOmmPoRlSM1IO8CJQ3M+46NV7hyk5yJlijmcLUZSbo8UzTTs+E41OdmIG5LeEn8uphdHc8aikw=="}/
              .sell-upload-box
                %h3.sell-upload-head
                  出品画像
                %span.form-require
                  必須
                  最大10枚までアップロードできます
                .sell-dropbox-container.clearfix.state-image-number-10
                  .sell-upload-items-container
                    .sell-upload-items.have-item-0
                  .sell-upload-drop-box.have-item-0
                    %input.sell-upload-drop-file{:type => "file"}/
                    %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
                    %i.icon-camera
              .sell-content
                .form-group
                  .label
                    商品名
                    %span.form-require 必須
                    %input#item_name{:name => "item[name]", :placeholder => "商品名(必須 40字まで)", :type => "text"}/
                .form-group
                  .label
                    商品の説明
                    %span.form-require 必須
                    %textarea#item_description.textarea-default{:name => "item[description]", :placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", :row => "5"}
              .sell-content.clearfix
                %h3.sell-sub-head 商品の詳細
                .sell-form-box
                  .form-group
                    %label カテゴリー
                    %span.form-require 必須
                    %div
                      .select-wrap
                      %i.icon-arrow-bottom
                      %select.select-default
                        %option ---
                        %option{:value => "1"} レディース
                        %option{:value => "2"} メンズ
                  .form-group
                    %label 商品の状態
                    %span.form-require 必須
                    .select-wrap
                      %i.icon-arrow-bottom
                      %select.select-default
                        %option ---
                        %option{:value => "1"} 新品、未使用
                        %option{:value => "2"} 未使用品に近い
              .sell.content.clearfix
                %h3.sell-sub-head 配送について
                .sell-form-box
                  .form-group
                    %label 配送量の負担
                    %span.form-require 必須
                    .select-wrap
                      %i.icon-arrow-bottom
                      %select.select-default
                        %option ---
                        %option{:value => "1"} 着払い(購入者負担)
                        %option{:value => "2"} 送料込み(出品者負担)
                  .form-group
                    %label 発送元の地域
                    %span.form-require 必須
                    .select-wrap
                      %i.icon-arrow-bottom
                      %select.select-default
                        %option ---
                        %option{:value => "1"} 北海道
                        %option{:value => "2"} 青森県
                  .form-group
                    %label 発送までの日数
                    %span.form-require 必須
                    .select-wrap
                      %i.icon-arrow-bottom
                      %select.select-default
                        %option ---
                        %option{:value => "1"} 1~2日で発送
                        %option{:value => "2"} 2~3日で発送
                        %option{:value => "3"} 4~7日で発送
              .sell-content.clearfix
                %h3.sell-sub-head 販売価格(300〜9,999,999)
                .sell-form-box
                  %ul.sell-price
                    %li.form-group
                      .clearfix
                        %label.l-left
                          価格
                          %span.form-require 必須
                        .l-right.sell-price-input
                          ¥
                          %input#item_price{:name => "item[price]", :placeholder => "例）300", :type => "text"}/
                    %li.clearfix
                      .l-left
                        販売手数料 (10%)
                      .l-right -
                    %li.clearfix.bold
                      .l-left 販売利益
                      .l-right -
              .modal
                .modal-inner
              .sell-content.sell-btn-box
                禁止されている出品、行為を必ずご確認ください。またブランド品でシリアルナンバー等がある場合はご記載ください。
                偽ブランドの販売、は犯罪であり処罰される可能性があります｡
                また、出品をもちまして加盟店規約に同意したことになります｡
                .btn-default.btn-red 出品する
                .btn-default.btn-gray 戻る
