.log-out{
  width:700px;
  &__box{
    padding:64px;
    background-color: #fff;
    .log-out-link{
      text-decoration: none;
        .log-out-btn{
          background-color: #ea352d;
          color: #fff;
          line-height: 50px;
          text-align: center;
          width: 320px;
          margin: 0 auto;
        }
    }
  }
}

.log-out__text{
  width:700px;
  height:50px;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
  &__message{
    text-align: center;
    font-size:28px;
    font-weight: bold;
    line-height: 50px;
  }
}