* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
    .member-main{
      width: 700px;
      margin: 0 auto;
      background: #fff;
        &__title{
          font-size: 22px;
          padding: 32px;
          line-height: 1.5;
          text-align: center;
        }
        .member-main__title__text__form{
          max-width: 343px;
          margin: 0 auto;
            .form-list{
              margin: 0;
                label{
                  font-weight: 600;
                }
                .required{
                  background: #ea352d;
                  margin: 0 0 0 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                }
                .tomo-input{
                  width: 100%;
                  margin: 8px 0 0;
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                }
            }
        }
    }
}   