* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
    .member-main{
      width: 700px;
      margin: 0 auto;
      background: #fff;
        &__title{
          font-size: 22px;
          padding: 32px;
          line-height: 1.5;
          text-align: center;
        }
        &__list{
          border-top: 1px solid #f5f5f5; 
          padding: 40px 40px 64px;
            &__form{
              height:1283px;
              height:1000px;
              max-width: 343px;
              margin: 0 auto;
                .form-list{
                  margin-top: 32px;
                    &__tomo{
                      font-weight: 600;
                      display: inline-block;
                    }
                    .required{
                      background-color: red;
                      color:white;
                      margin: 0 0 0 8px;
                      border-radius: 2px;
                      font-size: 12px;
                      vertical-align: top;
                    }
                    .form-list__form{
                      width: 100%;
                      margin: 8px 0 0;
                      height: 48px;
                      border-radius: 4px;
                      border: 1px solid #ccc;
                      background: #fff;
                      line-height: 1.5;
                      font-size: 16px;
                    }
                    .person-text{
                      font-size: 16px;
                    }
                    .note-text{
                      margin: 8px 0 0;
                      padding: 0;
                    }
                    .harf{
                      width: calc(50% - 6px);
                      margin-right: 8px;
                    }
                    .birthday-form{
                      .select-year{
                        width: 76px;
                        display: inline-block;
                        position: relative;
                        background: #fff;
                          .chevron-down{
                            position: absolute;
                            right: 16px;
                            top: 50%;
                            z-index: 2;
                            color: #888;
                            font-size: 8px;
                            -webkit-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                          }
                          .select-year{
                            width: 100%;
                            position: relative;
                            z-index: 2;
                            height: 48px;
                            padding: 0 16px;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                            background: 0;
                            font-size: 16px;
                            line-height: 1.5;
                            cursor: pointer;
                          }
                      }
                    }
                }
            }
        }
    }
}
  